spring:
  application:
    name: project-backend

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  security:
    user:
      name: admin
      password: password123