spring:
  application:
    name: project-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/islamdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-ms: ${JWT_EXPIRATION_MS}